---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Nav from '../components/Nav.astro';
import Nav2 from '../components/Nav2.astro';
import HomeBg from '../components/HomeBg.astro';
import { astroI18n, t } from "astro-i18n"

import Scrolltest from '../components/scrolltest.astro';

astroI18n.locale 
---

<Layout title={t("index.title")}>
	<Nav2/>
	<HomeBg/>
	<!-- <Scrolltest/> -->
	<Home/>

	<div class="flex flex-col bg-black py-20 items-center justify-center leading-tight">
		<p class="text-white">Portfolio 2026</p>
		<p class="text-white">All rights reseved - Matteo Postinghel</p>
	</div>
</Layout>

