---
import Layout from '../layouts/Layout.astro';
import Home from '../components/Home.astro';
import Nav from '../components/Nav.astro';
import Nav2 from '../components/Nav2.astro';
import LanguageSwitcher1 from '../components/LanguageSwitcher-1.astro'
import { astroI18n, t } from "astro-i18n"


astroI18n.locale 
---

<Layout title={t("index.title")}>
	<Nav2/>
	<!-- <div class="absolute w-screen h-screen top-0 left-0 bg-white z-50 fadeOutAnimation"></div> -->
	<!-- <Nav/> -->
	<!-- <Home/> -->


	<div class="fixed inset-0 -z-10">
    <video
      class="w-full h-full object-cover hidden"
      autoplay
      muted
      loop
      playsinline
    >
      <source src="../../src/assets/video/neptuna/VIDEO NETPUNA SITO 3.mp4" type="video/mp4" />
    </video>

	<img src="../../src/assets/img/OscarDisplay/Oscar-Display-Portfolio-7.jpg" alt="a" class="w-full h-full object-cover">
  </div>

</Layout>

